# build
bin/
obj/

# VS
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# logs
*.log

# db (por ahora usaremos SQLite en dev)
*.db
*.db-shm
*.db-wal

# secrets/local overrides
appsettings.Development.json
appsettings.Production.json
